a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #64ffda;
}

h4 {
  font-size: 16px;
  color: #64ffdbbb;
}

.projectCard {
  display: flex;
  margin: 20px;
  height: 60vh;
  width: 75vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.imgSection {
  position: relative;
  height: 100%;
  width: 60%;
}

.infoSection {
  position: relative;
  height: 100%;
  width: 40%;
  padding: 20px;
}

.projectImg {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid #000;
}

.infoSection > h2,
h4 {
  margin: 10px 0;
}

.icon-repo {
  position: absolute;
  bottom: 15px;
  font-size: 24px;
  color: #64ffda;
}
