.projects {
  position: relative;
  height: calc(100vh - 60px);
  width: 100vw;
  background: url("https://img5.goodfon.com/wallpaper/nbig/d/11/background-design-poly-vektor-abstraktsiia-oka-project-golub.jpg");
  background-position: center;
  background-size: cover;
  z-index: 99;
  background-repeat: no-repeat;
}

.projectWrapper {
  margin-top: 80px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
